<div class="row">

  <div class="col-12 my-4">
    <h1 style="display: inline">Log In</h1>

    <%= image_tag("sck.png", :alt => 'SCK logo', :class => 'scklogo') %>

    <%= form_tag sessions_path do %>
      <div class="field">
        <%= label_tag :username_or_email, "Username or Email" %><br />
        <%= text_field_tag :username_or_email, params[:username_or_email], autofocus: params[:username_or_email].blank? %>
      </div>
      <div class="field">
        <%= label_tag :password %><br />
        <%= password_field_tag :password %>
      </div>
      <div class="actions">
        <%= hidden_field_tag :goto, params[:goto] %>
        <%= submit_tag "LOG IN", :class => 'button login' %>
      </div>
      <div>
        <a class="button login" href="https://www.smartcitizen.me/signup">SIGN UP</a>
      </div>
      <div class="actions"><%= submit_tag "RESET PASSWORD",  :name => 'send_password_email', :class => 'button reset' %></div>

    <% end %>

  </div>

  <hr />

  <div class="col-6 col-md-4 col-xl-3">
    <div class="card bg-white text-center">
      <img class="w-25 mx-auto" src="https://raw.githubusercontent.com/fablabbcn/assets/master/images/04_campaign/location.svg?sanitize=true" alt="" />
      <h4>PLATFORM</h4>
    </div>
  </div>
  <div class="col-6 col-md-4 col-xl-3">
    <div class="card bg-white">
      <img class="w-25" src="https://raw.githubusercontent.com/fablabbcn/assets/master/images/04_campaign/location.svg?sanitize=true" alt="" />
    </div>
  </div>
  <div class="col-6 col-md-4 col-xl-3">
    <div class="card bg-white">
      <img class="w-25" src="https://raw.githubusercontent.com/fablabbcn/assets/master/images/04_campaign/location.svg?sanitize=true" alt="" />
    </div>
  </div>
  <div class="col-6 col-md-4 col-xl-3">
    <div class="card bg-white">
      <img class="w-25" src="https://raw.githubusercontent.com/fablabbcn/assets/master/images/04_campaign/location.svg?sanitize=true" alt="" />
    </div>
  </div>
  <div class="col-6 col-md-4 col-xl-3">
    <div class="card bg-white">
      <img class="w-25" src="https://raw.githubusercontent.com/fablabbcn/assets/master/images/04_campaign/location.svg?sanitize=true" alt="" />
    </div>
  </div>
  <div class="col-6 col-md-4 col-xl-3">
    <div class="card bg-white">
      <img class="w-25" src="https://raw.githubusercontent.com/fablabbcn/assets/master/images/04_campaign/location.svg?sanitize=true" alt="" />
    </div>
  </div>
</div>
