<h1>Change password</h1>

<%= form_tag change_password_path do %>
  <div class="field">
    <%= label_tag :token %><br />
    <%= text_field_tag :token %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= label_tag :password, "Confirm new password" %><br />
    <%= password_field_tag :password_confirmation %>
  </div>
  <div class="actions"><%= submit_tag "Change my password", :name => 'change_password', :class => 'button login' %></div>
<% end %>


