<h1 class="my-3">User info</h1>

<div class="card">
  <div class="card-body">

    <%= link_to "Smartcitizen Website", "https://www.smartcitizen.me/" %><br />
    <%= link_to "Smartcitizen Forum", "https://forum.smartcitizen.me/" %><br />
    <%= link_to "Smartcitizen API", "https://api.smartcitizen.me/" %><br />
    <%= link_to "Smartcitizen Developer documentation", "https://developer.smartcitizen.me/" %><br />
    <%= link_to "See JSON user data from example.smartcitizen.me", "http://example.smartcitizen.me" %>

    <hr />

    <% if current_user %>
      <p>Logged in as <%= current_user.email %>. </p>
      <%= link_to "Log Out", logout_path, class: 'button bg-red' %>
      <div class="text-center">
        <%= debug current_user.attributes %>
      </div>
    <% else %>
      <p class="color-red">Not logged in!</p>
      <a class="button bg-blue" href="/">GO BACK</a>
    <% end %>

  </div>
</div>
